@font-face {
	font-family: 'Bickham Script Three';
	src: url('../fonts/bickham_script_three.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bickham_script_three.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bickham_script_three.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bickham_script_three.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bickham_script_three.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bickham_script_three.svg#bickham_script_three') format('svg'); /* Chrome < 4, Legacy iOS */
}
